.boites {
  margin-top: 10%;
  background-color: #0077cc;
  color: red;
}
.test {
  text-align: center;
}

.positionPage {
  background-color: rgb(236, 194, 140);
  box-shadow: 0 0 1rem rgba(237, 200, 151, 0.7);
  padding: .0rem 1.5rem 1.5rem 1.5rem;
  border-radius: .2rem;
  height: fit-content;
  width: 80%;
  margin-top: 7rem;
}