.searchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: 7rem;
    background-color: rgb(236, 194, 140);
    box-shadow: 0 0 1rem rgba(237, 200, 151, 0.7);
    padding: .7rem 1.5rem 1.5rem 1.5rem;
    border-radius: .2rem;
    width: 80%;
}

.searchFile { // contient le bouton pour rechercher un fichier et la recherche dans searchResults
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.searchFile > * {
    margin-top: 2%;
    margin-bottom: 2%;
}

.searchResults { // contient les résultats de la recherche (un ensemble de cartes)
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    .card { // la carte / l'oeuvre
        padding: 1rem;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: .2rem;
        background-color: rgb(229, 198, 158);

        .card-header { // contient l'image et le titre de la carte
            
        }

        .card-body { // contient les infos de la carte
            // les infos sont affichées en grille de 3 par 3
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                "title title title"
                "author author author";
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .card-footer { // contient les boutons de la carte
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
        }
        .card-footer:hover { // contient les boutons de la carte
            transform: scale(1.2);
        }
        button:hover {
            background-color: #57d9ef;
        }
    }
}