.userPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    background-color: rgb(236, 194, 140);
    box-shadow: 0 0 1rem rgba(237, 200, 151, 0.7);
    padding: 0rem 2rem 2rem 2rem;
    border-radius: .2rem;
    width: fit-content;
    height: fit-content;
}
